div.logo {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
h1 {
    margin: 0px;
    padding: 0px;
}
div.menu {
    position:absolute;
    left: 150px;
    top: 88px;
}

div.content {
    position:absolute;
    top: 120px;
    left: 150px;
    width: 100%;
    padding-top: 20px;
}

div.rmenu {
    position:absolute;
    left: 10px;
    top: 150px;
    padding-left: 18px;
}

th {
    padding-right: 10px;
    padding-left: 10px;
    background-color:#222222;
    color:#DCE3F0;
}

table { 
    border-collapse: collapse; 
}
table.listing td{
    padding-right: 10px;
    padding-left: 15px;
}
table.listing tr:nth-child(odd) {
    background-color:#F3F3F3; 
    border-width: 1px;
    border-color:#222222; ;
    border-style: solid;
}
table.listing tr:nth-child(even) {
    background-color:#DCE3F0; 
    border-width: 1px;
    border-color:#222222; ;
    border-style: solid;
}

table.formz td: {
    padding-top: 15px;
    padding-bottom: 15px;
}

table.formz tr:nth-child(odd) {
    background-color:#F3F3F3; 
    border-width: 1px;
    border-color:#222222; ;
    border-style: solid;
}

table.formz tr:nth-child(even) {
    background-color:#DCE3F0; 
    border-width: 1px;
    border-color:#222222; ;
    border-style: solid;
}


form.cmxform label.error, label.error {
    color: red;
    font-style: italic;
}

.buttons { 
    width: 68px;
    height: 20px;
    margin-top: 2px;
    font-size: 10px;
}

#tabs {
}
