html, body {
     font-family: "Trebuchet MS", Verdana;
 }

div.logo {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
h1 {
    margin: 0px;
    padding: 0px;
}
div.menu {
    position:absolute;
    left: 150px;
    top: 88px;
}


div.content {
    position:absolute;
    top: 120px;
    left: 0px;
    width: 100%;
    padding-top: 20px;
}

th {
    padding-right: 10px;
    padding-left: 10px;
    background-color:#222222;
    color:#DCE3F0;
}

div.tables {
    position:absolute;
    top: 50px;
    left: 0px;
}

div.tabsmenu {
    padding-top: 6px;
    padding-left:5px;
    padding-bottom: 10px;
}
table { 
    border-collapse: collapse; 
}
table.listing {
    position:static;
    top: 50px;
    left:10px;
    margin-bottom: 10px;
}
table.listing td{
    padding-right: 10px;
    padding-left: 15px;
}
table.listing tr:nth-child(odd) {
    background-color:#F3F3F3; 
    border-width: 1px;
    border-color:#222222; ;
    border-style: solid;
}
table.listing tr:nth-child(even) {
    background-color:#DCE3F0; 
    border-width: 1px;
    border-color:#222222; ;
    border-style: solid;
}

table.formz {
    position:absolute;
    top: 50px;
    left: 50px;
}

table.formz td {
    padding: 5px;
}

table.formz:last-child {
    background-color:#FFFFFF;
    margin top:50px;
}

table.formz tr:nth-child(odd) {
    background-color:#F3F3F3; 
    border-width: 1px;
    border-color:#222222; ;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

table.formz tr:nth-child(even) {
    background-color:#DCE3F0; 
    border-width: 1px;
    border-color:#222222; ;
    border-style: solid;
}

div.errmsg {
    position:absolute;
    top:190px;
    left:400px;
    font-style:italic;
    font-size:80%;
    color:red;
}
form.cmxform label.error, label.error {
    color: red;
    font-style: italic;
}

.buttons { 
    width: 68px;
    height: 20px;
    margin-top: 2px;
    font-size: 10px;
}
