div.logo {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
h1 {
    margin: 0px;
    padding: 0px;
}
div.menu {
    position:absolute;
    left: 150px;
    top: 88px;
}

div.content {
    position:absolute;
    top: 120px;
    left: 150px;
    width: 100%;
    padding-top: 20px;
}

th {
    padding-right: 10px;
    padding-left: 10px;
    background-color:#222222;
    color:#DCE3F0;
}
tr:nth-child(odd) {
    background-color:#DCE3F0; 
}

table { 
    border-collapse: collapse; 
}
td {
    padding-right: 10px;
    padding-left: 15px;
}

tr:nth-child(even) {
    background-color:#BECBE0; 
}

.buttons { 
    width: 68px;
    height: 20px;
    margin-top: 2px;
    font-size: 10px;
}


